# PNPM Configuration
auto-install-peers=true
dedupe-peer-dependents=false
enable-pre-post-scripts=true
fund=false
hoist=true
hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
lockfile=true
node-linker=isolated
prefer-workspace-packages=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@eslint/*
registry=https://registry.npmjs.org/
save-exact=false
shamefully-hoist=false
side-effects-cache=true
strict-peer-dependencies=false
